if(errors)
  h2.errors Oops an error occurred!
  ul.errors
    each error in errors
      li
        =error.message

p
  label(for="title") Title:
  input(type="text", id ="title",name ="title", value=books.title)

p
  label(for="genre") Genre
  input(type="text" , id="genre", name ="genre" , value=books.genre)

p
  label(for="author") Author
  input(type="text" , id="author", name ="author" , value=books.author)

p
  label(for="year") Year 
  input(type="text" , id="year",  name ="year" , value=books.year)
p
  input(type="submit", value=op)
  a(href="/books" class="button") Cancel
  //- if op == "Update"
  //-     a(href=`${books.id}/delete` class="button") Delete